.win-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.win-container p {
  width: 328px;
  height: 40px;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}
