.frame {
  width: 328px;
  height: 56px;
  background: rgba(33, 33, 33, 0.08);
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  position: relative;
}

.frame-content {
  margin: 8px 0px 0px 52px;
}

.frame-content_title {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.38);
}

input[type=text],
input[type=email] {
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  background: transparent;
  border: 0;
  outline: none;
}

input:valid:required +  .frame_validation > .frame_validation__check {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/icons/validation_pass.svg);
}

input:invalid:required +  .frame_validation > .frame_validation__check {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/icons/validation_fail.svg);
}

.frame_validation {
  margin: 8px 8px 0px 0px;
  width: 40px;
  height: 40px;
  background: rgba(1, 135, 134, 0.08);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.frame_validation__check {
  width: 18px;
  height: 18px;
}
