@font-face {
	font-family: 'Roboto';
	src: url('../../assets/fonts/Roboto-Regular.eot');
	src: local('☺'), url('../../assets/fonts/Roboto-Regular.woff') format('woff'), url('../../assets/fonts/Roboto-Regular.ttf') format('truetype'), url('../../assets/fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../../assets/fonts/Roboto-Medium.eot');
	src: local('☺'), url('../../assets/fonts/Roboto-Medium.woff') format('woff'), url('../../assets/fonts/Roboto-Medium.ttf') format('truetype'), url('../../assets/fonts/Roboto-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  width: 1440px;
  font-family: 'Roboto';
}

/* header start */

header {
  width: 100%;
  height: 64px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: baseline;
}

.logo {
  margin-top: 12px;
  margin-left: 24px;
  width: 80px;
  height: 40px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  cursor: pointer;
}

.upper-logo {
  padding: 3px 0px;
  width: 80px;
  height: 20px;
  color: #FFFFFF;
  background: inherit;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lower-logo {
  padding: 3px 0px;
  width: 80px;
  height: 20px;
  color: #2196F3;
  background: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.empty-card {
  width: 96px;
  height: 64px;
}

.navbar__card {
  width: 96px;
  height: 64px;
  left: 96px;
  background: #2196F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

nav {
  width: 576px;
  margin-left: 56px;
  margin-right: 477px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

a:link{
  text-decoration: none;
}

.navbar__card img {
  width: 24px;
  height: 24px;
}

.navbar__card span {
  margin-top: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__card.active {
  background: #1E88E5;
}

.header_btn {
  margin-top: 13px;
  margin-right: 20px;
  width: 207px;
  height: 36px;
  background: #F2F9FE;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.header_btn a{
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #2196F3;
}

/* header end */

/* game start */

.game {
  padding-top: 33px;
  height: 960px;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  height: 802px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.content {
  padding-top: 28px;
}

.game-timer__container {
  display: flex;
  justify-content: center;
}

.timer {
  width: 256px;
  height: 64px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-face {
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.4);
}

.game-field__container {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.game-field {
  display: grid;
  grid-template-columns:  repeat(4, auto);
  column-gap: 24px;
  row-gap: 14px;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  perspective: 25rem;
  cursor: pointer;
}

.card-container:hover > .card {
  transform: translateZ(2rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
}

.card {
  width: 168px;
  height: 168px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: right;
  transition: all .5s;
  border-radius: 4px;
}

.card.flipped {
  transform: rotateY(180deg) translateX(-100%);
  transform-origin: left;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 4px;
}

.card-back {
  background: #FFFFFF;
  background-image: url("../../assets/images/game/default-back.png");
}

.card-front {
  background-image: url("../../assets/images/game/penguin.png");
  transform: rotateY(180deg);
}

.card.flipped .card-front,
.card.flipped .match,
.card.flipped .discrepancy,
.card:hover .card-front,
.card:hover .match,
.card:hover .discrepancy {
  display: block;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.match {
  display: none;	
  width: 100%;
  height: 100%;
  background: rgba(10, 207, 131, 0.5)
}

.discrepancy {
  display: none;	
  width: 100%;
  height: 100%;
  background: rgba(242, 78, 30, 0.5)
}

.icon-container {
  display: flex;
  justify-content: flex-end;
}

.mask-icon {
  margin-top: 10px;
  margin-right: 11px;
}

.match .mask-icon {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/images/game/matching.svg");
  background-size: cover;
}

.discrepancy .mask-icon {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/images/game/discrepancy.svg");
  background-size: cover;
}

/* game end */