@font-face {
	font-family: 'Roboto';
	src: url('../../assets/fonts/Roboto-Regular.eot');
	src: local('☺'), url('../../assets/fonts/Roboto-Regular.woff') format('woff'), url('../../assets/fonts/Roboto-Regular.ttf') format('truetype'), url('../../assets/fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../../assets/fonts/Roboto-Medium.eot');
	src: local('☺'), url('../../assets/fonts/Roboto-Medium.woff') format('woff'), url('../../assets/fonts/Roboto-Medium.ttf') format('truetype'), url('../../assets/fonts/Roboto-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  width: 1440px;
  font-family: 'Roboto';
}

/* header start */

header {
  width: 100%;
  height: 64px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: baseline;
}

.logo {
  margin-top: 12px;
  margin-left: 24px;
  width: 80px;
  height: 40px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  cursor: pointer;
}

.upper-logo {
  padding: 3px 0px;
  width: 80px;
  height: 20px;
  color: #FFFFFF;
  background: inherit;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lower-logo {
  padding: 3px 0px;
  width: 80px;
  height: 20px;
  color: #2196F3;
  background: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.empty-card {
  width: 96px;
  height: 64px;
}

.navbar__card {
  width: 96px;
  height: 64px;
  left: 96px;
  background: #2196F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

nav {
  width: 576px;
  margin-left: 56px;
  margin-right: 477px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

a:link{
  text-decoration: none;
}

.navbar__card img {
  width: 24px;
  height: 24px;
}

.navbar__card span {
  margin-top: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__card.active {
  background: #1E88E5;
}

.header_btn {
  margin-top: 13px;
  margin-right: 20px;
  width: 207px;
  height: 36px;
  background: #F2F9FE;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.header_btn a{
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #2196F3;
}

/* header end */

/* settings start */


.settings {
  height: 960px;
  padding-top: 47px;
}

.game-settings {
  width: 1000px;
  height: 252px;
  margin: 0 auto;
  border: 1px;
  background: #FFFFFF;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.settings-container {
  padding: 32px 0px 0px 30px;
  width: 256px;
  height: 173px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.setting {
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #E5E5E5;
}

.setting__title {
  padding-top: 4px;
  padding-left: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

option[value=""][disabled] {
  display: none;
}

select {
  width: 100%;
  border: 0;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.setting__select {
  padding-left: 16px;
  width: 224px;
  height: 24px;
  position: relative;
}

.setting__select::after {
  position: absolute;
  right: 7px;
  content: url("../../assets/icons/drop_down.svg");
}

/* settings end */